$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';

body{
	height:100%;
	background-color: #f5f5f5;
	font-family: sans-serif;	
	color: #666;
	min-width: 600px;	
}

section{min-height:900px;}

.affix-top, .affix {
    top: 50px; 
	right: 0;
	position:fixed;
	z-index:2;
}

#maincontent {
	min-with: 500px;
	margin-left: 480px;
	margin-top: 50px;
}



#dotNav {
	z-index: 5;
	left: 7%;
	padding: 7px;
	padding-top: 12px;
	margin-left: 0px;
	ul {
		li {
			a {
				position: relative;
				display: block;
				margin: 0;
				padding-left: 30px;
				height: 60px;
				line-height: 60px;
				font-size: 18px;
				text-decoration: none;
				-webkit-transform: scaleY(1);

				&:before {
					border: 33px solid transparent;
					content: '';
					position: absolute;
					top: 50%;
					left: 268px;
					margin-top: -33px;
					width: 0;
					height: 0;
					overflow: hidden;
				}
			}
			
			a:hover {
				&:before {
					border-left-color: #eeeeee; 
				}
			}
		}

		li.active {
			a {
				&:before {
					border-left-color: #0088cc;
				}
			}	
		}
	}

}