$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";



@font-face {
	font-family: 'Sreda';
	src: url('sreda/Sreda.otf') format('opentype'); /* IE9 Compat Modes */
	src: url('sreda/Sreda.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('sreda/Sreda.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('sreda/Sreda.svg#svgFontName') format('svg'); /* Legacy iOS */
	}

body{
	height:100%;
	background-color: #ffffff;
	font-size: 20px;
	line-height: 30px;
	font-family: CallunaLghtRegular, Georgia, serif;	
	color: #333333;	
	min-width: 320px;	
}

section{
	min-height:300px;
}



.image {
	background-color: #f7f7f9;
	height: 300px;
}
.row {
	margin-bottom: 15px;
}

#introduction {
	.image { float: left; }
	#headline {
		margin-top: 65px;
		margin-bottom: 40px;
	}

}


#graph {
	min-height: 1200px;
}

#userflow {
	position: relative;
	
	#wireframeContainer {
		position: absolute;
		background-color: #ffffff;
		padding: 5px;
		border: 1px #e6e6e6 solid;
		// opacity: 0.5;
		display: none;
		z-index: 99;		
		font-size: 0.6em;
		font-weight: normal;
		p {
			font-size: 0.6em;
			font-weight: normal;
		}
		
		img, .note {
			float: left;
		}

	}

	.hotspot {
		position: absolute;
		width: 12%;
		height: 8%;
		background-color: green;
		opacity: 0.3;
		&:hover {
			background-color: blue;
			cursor: pointer;
		}
		img, .note { display: none; }

	}

	#home {top: 4%; left: 34%; }
	#viewassets {top: 20%; left: 8%; }
	#editassets {top: 88%; left: 2%; width: 51%; }
	#writeasset {top: 37%; left: 32%; }
	#chooseasset {top: 20%; left: 24%; }
	#assetlisting {top: 69%; left: 16%; }
	#privateassets { top: 32%; left: 17%; }
	#publicassets { top: 32%; left: 2%; }
	#searchassets { top: 20%; left: 45%; }
	#manageaccount { top: 20%; left: 60%; }
	#settings { top: 32%; left: 59%; width: 38%; }
	#managecategory { top: 69%; left: 53%; width: 43%; }

}


#maincontent {
	
}




/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	body {
		
	}


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {  
	body {
		// color: blue;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }







.affix-top, .affix {
    top: 50px; 
	right: 0;
	position:fixed;
	z-index:2;
}

#dotNav {
	display: none;
	z-index: 5;
	left: 7%;
	padding: 7px;
	padding-top: 12px;
	margin-left: 0px;
	ul {
		li {
			a {
				position: relative;
				display: block;
				margin: 0;
				padding-left: 30px;
				height: 60px;
				line-height: 60px;
				font-size: 18px;
				text-decoration: none;
				-webkit-transform: scaleY(1);

				&:before {
					border: 33px solid transparent;
					content: '';
					position: absolute;
					top: 50%;
					left: 268px;
					margin-top: -33px;
					width: 0;
					height: 0;
					overflow: hidden;
				}
			}
			
			a:hover {
				&:before {
					border-left-color: #eeeeee; 
				}
			}
		}

		li.active {
			a {
				&:before {
					border-left-color: #0088cc;
				}
			}	
		}
	}

}